@value dark-blue, light-grey, basic-white, light-blue from '../../common/colors.css';
@value small-font-size, extra-small-font-size from '../../common/sizes.css';

.node {
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.form {
  width: 100%;
  border: 1px solid dark-blue;
  border-radius: 0.5rem;
  padding: 0.8rem 1.3rem;
  box-sizing: border-box;
}

.input-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0.1rem;
}

.label {
  flex: 0 0 4rem;
  font-size: small-font-size;
  font-weight: bold;
  padding: 0.5rem 0;
}

.input {
  flex: 1 1 0;
  border: 1px solid basic-white;
  padding: 0.5rem;
}

.input:focus,
.input:active {
  border: 1px solid light-grey;
}

.button-wrap {
  margin-right: -0.5rem;
  margin-top: 0.2rem;
  display: flex;
  justify-content: flex-end;
}

.button {
  width: 3rem;
  border: 0;
  padding: 0.5rem 0;
  font-size: extra-small-font-size;
  background-color: light-blue;
}
